.header-contacts__phone-number-accord.active {
    top: 30px; 
}

.header-contacts__phone-number-accord.active a {
    opacity: 1;
}

.header-contacts__arrow.active img {
    transform: rotate(180deg);
}